services:
  backend:
    build:
      context: .
      no_cache: true
      dockerfile: Dockerfile.backend
    ports:
      - "8008:8008"
    restart: always
    container_name: shipyard-digital-twin-backend
  frontend:
    build:
      context: .
      no_cache: true
      dockerfile: Dockerfile.frontend
      args:
        BACKEND_HOST: backend
    ports:
      - "8080:8080"
    environment:
      - BACKEND_HOST=backend
    restart: always
    container_name: shipyard-digital-twin-frontend
